@model ASP.Models.User.UserRegistrationModel
@{
	var user = ViewData["user"] as ASP.Models.User.UserRegistrationModel;
	var validation = ViewData["validation"] as ASP.Models.User.UserValidationModel;

}

@if (user != null)
{
	<p>Username: @user?.Username</p>
	<p>Email: @user?.Email</p>
	<p>Password: @user?.Password</p>
	<p>RepeatPassword: @user?.RepeatPassword</p>
	<p>IsAgree: @user?.IsAgree</p>
	<p>Avatar: @user?.Avatar</p>

}

<section>
	<h1>Validation</h1>
	<p>@validation?.UsernameMessage</p>
	<p>@validation?.EmailMessage</p>
	<p>@validation?.PasswordMessage</p>
	<p>@validation?.RepeatPasswordMessage</p>
	<p>@validation?.IsAgreeMessage</p>
	<p>@validation?.AvatarMessage</p>
</section>

<img src="/avatars/@user?.AvatarFileName" class="w-96"/>

<form class="max-w-lg mx-auto mt-8 email" asp-controller="User" asp-action="RegisterUser" method="post" enctype="multipart/form-data">
	<div class="mb-4">
		<label class="block text-pink-500 font-bold mb-2" asp-for="Username">
			Username
		</label>
		<input asp-for="Username" class="shadow appearance-none border-2 @(validation?.UsernameMessage != null ? "border-red-500" : "border-pink-500") rounded w-full py-2 px-3 text-pink-500 leading-tight focus:outline-none focus:shadow-outline-pink" type="text" placeholder="Enter your username">
		@if (validation?.UsernameMessage != null)
		{
			<p class="text-red-500 text-xs italic">@validation?.UsernameMessage</p>
		}
	</div>
	<div class="mb-4">
		<label class="block text-pink-500 font-bold mb-2" asp-for="Email">
			Email
		</label>
		<input asp-for="Email" class="shadow appearance-none border-2 @(validation?.EmailMessage != null ? "border-red-500" :"border-pink-500") rounded w-full py-2 px-3 text-pink-500 leading-tight focus:outline-none focus:shadow-outline-pink" type="email" placeholder="Enter your email">
		@if (validation?.EmailMessage != null)
		{
			<p class="text-red-500 text-xs italic">@validation?.EmailMessage</p>
		}
	</div>
	<div class="mb-4">
		<label class="block text-pink-500 font-bold mb-2" asp-for="Password">
			Password
		</label>
		<input asp-for="Password" class="shadow appearance-none border-2 @(validation?.PasswordMessage != null ? "border-red-500" : "border-pink-500") rounded w-full py-2 px-3 text-pink-500 leading-tight focus:outline-none focus:shadow-outline-blue" type="password" placeholder="Enter your password">
		@if (validation?.PasswordMessage != null)
		{
			<p class="text-red-500 text-xs italic">@validation?.PasswordMessage</p>
		}
	</div>
	<div class="mb-4">
		<label class="block text-pink-500 font-bold mb-2" asp-for="RepeatPassword">
			Repeat Password
		</label>
		<input asp-for="RepeatPassword" class="shadow appearance-none  border-2 @(validation?.RepeatPasswordMessage != null ? "border-red-500" :"border-pink-500") rounded w-full py-2 px-3 text-pink-500 leading-tight focus:outline-none focus:shadow-outline-blue" type="password" placeholder="Confirm your password">
		@if (validation?.RepeatPasswordMessage != null)
		{
			<p class="text-red-500 text-xs italic">@validation?.RepeatPasswordMessage</p>
		}
	</div>
	<div class="mb-3">
		<label asp-for="Avatar">Your avatar</label>
		<input asp-for="Avatar">
		@if (validation?.AvatarMessage != null)
		{
			<p class="text-red-500 text-xs italic">@validation?.AvatarMessage</p>
		}
	</div>
	<div class="mb-4">
		<div class="flex items-center">
			<input type="checkbox" class="form-checkbox border-2 @(validation?.IsAgreeMessage != null ? "border-red-500" :"text-pink-500") h-5 w-5" asp-for="IsAgree">
			<label asp-for="IsAgree" class="ml-2 block text-pink-500">
				I agree with site rules
			</label>
			@if (validation?.IsAgreeMessage != null)
			{
				<p class="text-red-500 text-xs italic">@validation?.IsAgreeMessage</p>
			}
		</div>
	</div>
	<div class="flex items-center justify-between">
		<button class="bg-pink-500 hover:bg-red-500 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline-pink" type="submit">
			Sign Up
		</button>
	</div>
</form>
