@model ASP.Models.Forum.ForumIndexModel
<h1>Forum</h1>
<div class="flex ">

    @if (Model.Sections.Count > 0)
    {
        foreach (var section in Model.Sections)
        {
            @Html.DisplayFor(m => section, "Section")
        }
    }

</div>

@if (Model.UserCanCreate)
{
    <div class="row">
        <div class="col col-6">
            <h5 class="modal-title" id="authModalLabel">Створити новий розділ</h5>
            <form asp-controller="Forum" asp-action="CreateSection" method="post">
                <div class="form-group">
                    @if (Model.IsMessagePositive)
                    {
                        <div class="alert alert-success" role="alert">
                            @Model.CreateMessage
                        </div>
                    }
                    else if (Model.IsMessagePositive)
                    {
                        <div class="alert alert-danger" role="alert">
                            @Model.CreateMessage
                        </div>
                    }
                    <label for="section-title">Назва</label>
                    <input type="text" class="form-control"
                           id="Title" name="Title"
                           value="@Model.Title"
                           placeholder="Назва розділу"/>
                </div>
                <div class="form-group">
                    <label for="section-description" class="form-label">Опис</label>
                    <textarea class="form-control" id="section-description" rows="3"
                
                name="Description" placeholder="Опис нового розділу">
                @Model.Description
                </textarea>
                </div>
                <button type="submit" class="btn btn-primary">Створити</button>
            </form>
        </div>
    </div>
}

<script>
    document.addEventListener("DOMContentLoaded",()=>{
        console.log("loaded")
        const userSid = document.querySelector("[data-user-sid]")
        for (let elem of document.querySelectorAll("[data-rate]")){
            elem.addEventListener("click",()=>{
                const rate = elem.getAttribute("data-rate")
                const val = elem.getAttribute("data-rate-value")
                console.log(rate)
                console.log(val)
                const data={
                    "ItemId":rate,
                    "UserId":userSid,
                    "Value":val    
                }
                
                fetch("/api/rates/rate",
                {
                    method:"POST",
                    headers:{
                        "Content-Type":"application/json"
                    },
                    body:JSON.stringify(data)
                }).then(res=>res.json())
                .then(data=>console.log(data))
                console.log(data)
            })
        }
    })
</script>