@model ASP.Models.Forum.ForumSectionsModel
<a>@ViewData["Id"]</a>


@foreach(var Theme in Model.Themes)
{
    @Html.DisplayFor(m => Theme, "ThemeTemplate")
}
@if (Model.UserCanCreate)
{
    <div class="row">
        <div class="col col-6">
            
            
            
            <h5 class="modal-title" id="authModalLabel">Створити новий розділ</h5>
            <form asp-controller="Forum" asp-action="CreateTheme" method="post">
                <div class="form-group">
                    @if (Model.IsMessagePositive)
                    {
                        <div class="alert alert-success" role="alert">
                            @Model.CreateMessage
                        </div>
                    }
                    else if (Model.IsMessagePositive)
                    {
                        <div class="alert alert-danger" role="alert">
                            @Model.CreateMessage
                        </div>
                    }
                    <label for="section-title">Назва</label>
                    <input type="text" class="form-control"
                           id="Title" name="Title"
                           value="@Model.FormModel?.Title"
                           placeholder="Назва розділу"/>
                </div>
                <div class="form-group">
                    <label for="section-description" class="form-label">Опис</label>
                    <textarea class="form-control" id="section-description" rows="3"
                
                name="Description" placeholder="Опис нового розділу">
                @Model.FormModel?.Description
                </textarea>
                </div>
                <input type="hidden" name="SectionId" value="@ViewData["id"]"/>
                <button type="submit" class="btn btn-primary">Створити</button>
            </form>
        </div>
    </div>
}
