@model ASP.Models.Forum.ForumThemeModel

<div class="container-fluid mt-100">
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-5">
                <div class="card-header">
                    <div class="media d-flex align-items-center">
                        
                        <img src="@Model.Avatar" class="d-block ui-w-40 rounded-circle mx-2 ui-w-40" alt="">
                        <div class="media-body mx-2">
                            <a href="javascript:void(0)" data-abc="true">@Model.Author</a>
                            <div class="text-muted small">@Model.CreatedDtString</div>
                        </div>
                        <div class="text-muted small mx-2 ms-auto ">
                            <div>Member since <strong>@Model.AuthorRegisterDateString</strong></div>
                            <div><strong>@Model.DaysSinceRegister</strong> Days</div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <h5>@Model.Title</h5>
                    <p>
                        @Model.Description
                    </p>
                </div>
                <div class="card-footer d-flex flex-wrap justify-content-between align-items-center p-1">
                    <div class="px-4">
                        <a href="javascript:void(0)" class="text-muted d-inline-flex align-items-center align-middle" data-abc="true"> <i class="fa fa-heart text-danger"></i>&nbsp; <span class="align-middle">445</span> </a> <span class="text-muted d-inline-flex align-items-center align-middle ml-4"> <i class="fa fa-eye text-muted fsize-3"></i>&nbsp; <span class="align-middle">14532</span> </span>
                    </div>
                    <div class="px-4">
                        <a asp-action="Themes" asp-route-id="@Model.UrlId" type="button" class="btn btn-primary"><span class="material-symbols-outlined">navigate_next</span>See</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>